body {
    padding: 10px;
}

.img_index {
    border-radius: 30px;
    max-width: 70%;
    max-height: auto;
}

.description_index {
    display: flex;
    justify-content: left;
    align-items: center;
    border: 3px solid green;;

}

#img_page {
    max-width: 35%;
    max-height: auto;
}

#createdtime_small {
    font-size: 0.65em;
}

ul {
    list-style-type: none;
}

#separator {
    border-color: black;
}