body {
    background-color: #f6f6f6;
    padding: 10px;
    font-size: 1.4em;
}

.img_index {
    border-radius: 30px;
    max-width: 70%;
    height: auto;
    max-height: 22em;
}

.img_page {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    max-height: 22em;
}

.description_box {
    display: flex;
    justify-content: left;
    align-items: center;
    /* border: 3px solid green; */

}

#createdtime_small {
    font-size: 0.65em;
}

ul {
    list-style-type: none;
}

#separator {
    border-color: black;
}

.btnback {
    padding: 0;
    color: red;
    border: 3px solid green ;
}