body {
    padding: 10px;
}

.img_index {
    border-radius: 30px;
    max-width: 70%;
    height: auto;
    max-height: 22em;
}

.img_page {
    max-width: 100%;
    height: auto;
    max-height: 22em;
}

.description_box {
    display: flex;
    justify-content: left;
    align-items: center;
    border: 3px solid green;

}

.borderi {
    border: 3px solid green;

}


#createdtime_small {
    font-size: 0.65em;
}

ul {
    list-style-type: none;
}

#separator {
    border-color: black;
}