{% extends 'auctions/layout.html' %}

{% block title %}{{ product.title |title }}{% endblock title %}

{% block body %}
    <h1>{{ product.title.capitalize }} 
        {% if user.is_authenticated and product.author.id != user.id %}
            {% if not in_watchlist %}
            <a href="{% url 'watchlist' product.id %}" role="button" class="btn btn-outline-primary btn-lg">Add to Watchlist</a>
            {% else %}
            <a href="{% url 'watchlist' product.id %}" role="button" class="btn btn-outline-primary btn-lg">Remove from Watchlist</a>
            {% endif %}
        {% elif user.is_authenticated and product.author.id == user.id %}
            <small><small>[This product is yours]</small></small>
        {% endif %}
        
    </h1>

    <div class="row table-bordered">
        <div class="col-lg-6 col-md-6">
            {% if product.imgurl %}
            <img class="img_page" src="{{ product.imgurl }}" alt="{{ product.title }}">
            {% else %}
            <img class="img_page" src="https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.jpg" alt="{{ product.title }}">
            {% endif %}
        </div>
        
        <div class="col-lg-6 col-md-6 description_box">
            {{ product.description |linebreaksbr | safe }}
        </div>
    </div>

    <br>
    <strong>CURRENT PRICE: ${{ product.bid }}</strong><br>
    <small>Auction Created: {{ product.created_date }} by: <strong>{{ product.author.username.capitalize }}</strong></small>
    <br>

    <a href="{% url 'index' %}" class="btn btn-secondary btn-sm" role="button" >Back to Active listings</a>

{% endblock body %}

