{% extends 'auctions/layout.html' %}

{% block title %}{{ product.title.capitalize }}{% endblock title %}

{% block body %}
    <h1>{{ product.title.capitalize }}</h1>

    <div class="row table-bordered">
        <div class="col-lg-6 col-sm-6">
            {% if product.imgurl %}
            <img class="img_page" src="{{ product.imgurl }}" alt="{{ product.title }}">
            {% else %}
            <img class="img_page" src="https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.jpg" alt="{{ product.title }}">
            {% endif %}
        </div>
        
        <div class="col-lg-6 col-sm-6 description_box">
            {{ product.description | safe }}
        </div>
    </div>

    <br>
    <strong>ACTUAL PRICE: ${{ product.bid }}</strong><br>
    <small>Auction Created: {{ product.created_date }} by: <strong>{{ product.author.username.capitalize }}</strong></small>
    <br>

    <a href="{% url 'index' %}" class="btn btn-outline-dark btn-sm" role="button" >Back to Active listings</a>

{% endblock body %}

