{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
<ul>
    {% for product in products_list %}
        <li>
            {% if product.imgurl %}
                <a href="{% url 'auction-page' product.pk %}">
                    <img class="img_index" src="{{ product.imgurl }}" alt="{{ product.title }}">
                </a>
            {% endif %}
            <a href="{% url 'auction-page' product.pk  %}">{{ product.title.capitalize }}</a> by {{ product.author.username.capitalize }} - Auction Created on {{ product.created_date }}
        </li>
        <hr id="separator">
    {% endfor %}    
</ul>
{% endblock %}