{% extends "auctions/layout.html" %}

{% block title %}Register{% endblock title %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="first_name" placeholder="First Name" required="required">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="last_name" placeholder="Last Name" required="required">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address" required="required">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required="required">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}