{% extends 'auctions/layout.html' %}


{% block body %}
    <h2>Your Watchlist, {{ user.username.capitalize }}</h2>
    
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Product</th>
                <th>Current Price</th>
                <th>Your?</th>
                <th>Delete</th>
            </tr>
            {% for item in watchlist.product.all|dictsort:"title" %}
                
                {% if item.bid < 400 %}                    
                    <tr class="trow_watchlist_red">
                {% else %}
                    <tr class="trow_watchlist_green">
                {% endif %}
                        <td>{{ item.title }}</td>
                        <td>{{ item.bid }}</td>
                        <td>Change it</td>
                        <td>
                            <form action="{% url 'watchlist' item.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-outline-primary btn-lg" type="submit" name="q">X</button>
                        </form></td>
            {% endfor %}
                    </tr>
        </table>
    </div>
{% endblock body %}
    